header{
    .chateau-mere{
        img{
            width: 100%;
            margin-top: -90px; 
        }
       
    }
        .header{
            width: 80%;
            height: 30px;
            position: absolute;
            top: -3px;
            left: 128px;
            position: fixed;
            z-index: 2;
            .div_logo{
                .logo{
                    float: right;
                     margin-top: 10px;
                     display: none;
                }
            }
            h1{
                font-family: 'Claytonia';
                font-size: 40px;
                float: left;
                color: $title;
                
            }
            nav{
                float: right;
                margin: 15px;
                // display: none;
                // display: none;
                a{
                    padding: 5px;
                    font-family: 'Reem Kufi';
                    color: black;
                    text-decoration: none;
                }
                .active{
                    padding: 5px;
                    font-family: 'Reem Kufi';
                    color: $title;
                    text-decoration: none;
                }
            }
          
            }
            .menu{
                float: right;
                line-height: 100px;
                margin-top: -22px;
                z-index: 2;
                color: black;
              }
              .menu a{
                color: black;
                font-family: "Reem Kufi";
                text-decoration: none;
                padding: 0 10px;
              }
              .show-menu-btn,.hide-menu-btn{
                transition: 0.4s;
                font-size: 30px;
                cursor: pointer;
                display: none;
              }
              .show-menu-btn{
                float: right;
              }
              .show-menu-btn i{
                line-height: 100px;
              }
              .menu a:hover,
              .show-menu-btn:hover,
              .hide-menu-btn:hover{
                color: #3498db;
              }
              
              #chk{
                position: absolute;
                visibility: hidden;
                z-index: -1111;
              }
          
    }


.bg-image{
    background-image: url('../img/bg-header.png');
    background-size: cover;
    width: 100%;
    height: 591px;
    margin-top: -10px;
    .image{
        width: 100%;
        margin-top: 452px;
    }
    .image1{
        width: 100%;
       margin-top: 10px;
       position: fixed;
       z-index: 1;
    }
    .img-header{
        width: 20%;
        margin: auto;
        .image2{
            position: absolute;
            top: 327px;
        }
    }
}
/*responsive design */
//responsive 
@media screen and (max-width: 1030px){
header{
    .chateau-mere{
        img{
            width: 100%;
            margin-top: -90px; 
        }
       
       
    }
        .header{
            width: 80%;
            height: 30px;
            position: absolute;
            top: -3px;
            left: 128px;
            position: fixed;
            h1{
                font-family: 'Claytonia';
                font-size: 27px;
                float: left;
                color: $title;
                
            }
            .div_logo{
                .logo{
                    float: right;
                     margin-top: 10px;
                     display: none;
                }
                #btn_close{
                    display: none;
                }
            }
            nav{
                // display: none;
                width: 35%;
                /* position: absolute; */
                right: -66px;
                /* top: -2px; */
                text-align: center;
                margin: 6px 0px;
                
               
                a{
                    padding: 5px;
                    font-family: 'Reem Kufi';
                    color: black;
                    text-decoration: none;
                }
            }
          
            }
            .show-menu-btn{
                display: block;
                margin-top: -41px;
                font-size: 19px;
            }
            .hide-menu-btn{
                display: block;
              }
              .menu{
                position: fixed;
                width: 100%;
                height: 100vh;
                background: white;
                right: -100%;
                top: 0;
                text-align: center;
                padding: 80px 0;
                line-height: normal;
                transition: 0.7s;
              }
              .menu a{
                display: block;
                padding: 20px;
              }
              .hide-menu-btn{
                position: absolute;
                top: 40px;
                right: 40px;
              }
              #chk:checked ~ .menu{
                right: 0;
                
              }
          
    }


.bg-image{
    background-image: url('../img/bg-header.png');
    background-size: cover;
    width: 100%;
    height: 591px;
    margin-top: -10px;
    .image{
        width: 100%;
        margin-top: 425px;
    }
    .image1{
        width: 100%;
       margin-top: 10px;
    }
    .img-header{
        width: 20%;
        margin: auto;
        .image2{
            position: absolute;
            top: 327px;
            display: none;
        }
    }
}





}
@media screen and (max-width: 750px){
    header{
        .chateau-mere{
            img{
                width: 100%;
                margin-top: -90px; 
            }
           
        }
            .header{
                width: 74%;
                height: 45px;
                position: absolute;
                top: -3px;
                left: 52px;
                position: fixed;
                z-index: 2;
                h1{
                    font-family: 'Claytonia';
                    font-size: 17px;
                    float: left;
                    color: $title;

                }
                .div_logo{
                    .logo{
                        float: right;
                        margin-top: 5px;
                        display: block;
                        width: 12px;
                    }
                    #btn_close{
                        display: none;
                    }
                }
                nav{
                    background-color: white;
                    width: 33%;
                    position: absolute;
                    right: -66px;
                    top: 13px;
                    text-align: center;
                    float: right;
                    margin: 3px 30px;
                    display: none;
                    a{
                        padding: 5px;
                        font-family: 'Reem Kufi';
                        color: black;
                        text-decoration: none;
                        display: block;
                    }
                }
              
                }
              
        }
    
    
    .bg-image{
        background-image: url('../img/bg-header.png');
        background-size: cover;
        width: 100%;
        height: 591px;
        margin-top: -10px;
        .image{
            width: 100%;
           margin-top: 485px;
        }
        .image1{
            width: 100%;
           margin-top: 10px;
        }
        .img-header{
            width: 20%;
            margin: auto;
            .image2{
                position: absolute;
                top: 327px;
                display: none;
            }
        }
    }
    
    
    
    
    
    }

