$title : #2D7C92;
$menu : #000000;
$sec_title : #674635;
$bg_btn_color : #29819A;
$gnrl : #FFFFFF;
//font 
$fonts : 'Claytonia Regular';
$font-title : 'Reem Kufi';
$fonts-text : SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;