.bg-image {
  background-image: url("../img/Sardine_img/cover.png") !important;
  width: 100%;
  height: 650px ;
  background-position-y: -290px;
  background-repeat: no-repeat;
}
.bg-design1 
{
  background-image: url("../img/Potterie_img/Potterie_img_whitetopbg.svg") !important;
  background-size: cover; 
  background-position: 50%; 
  color:#fff;
  width:100%;
  height:200px;
  font-size: 20px;
  margin-top: -90px;
}
/* 
.FixeNav{
  position: fixed;
} */
/* a{
  color: white !important;
}
a:hover{
  color: white !important;
} */
.btn{
  color: white !important;
}
.btn:hover{
  color: white !important;
}

.btn-2{
  float: right;
  margin-top: 50px;
}
.btn-2 input{
  width: 46%;
  background-color: #29819A;
  border: none;
  padding: 5px 10px;
  font-family: "Reem Kufi";
  color: #FFFFFF;
  margin: 2px auto;
}
.images{
  margin-bottom: 20px;
}
.icon-player{
    width: 20%;
    margin-top: 100px;
    text-align: center;
    margin-left: 173px;
}

.bg-design2
{
  background-image: url("../img/Potterie_img/bg-design2.svg") !important;
  background-size: cover; 
  background-position: 50%; 
  color:#fff;
  width:100%;
  margin-top: -157px;
  height:290px;
  font-size: 20px;
}

.container-welcome{
  margin-top: -90px;
}


.container-page-down-img , .container-page-down
{
  display: flex;
  width: 80%;
  margin: auto;
}

.tajin_section {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container-page-down--title
{
  color:#2D7C92;
  font-size: 24px;
}
.container-page-down-des
{
  padding: 10px;
}
.container-page-down-des pre
{
  margin-top: 15px;

}
.container-page-down-img , .container-page-down
{
  display: flex;
  width: 80%;
  margin: auto;
}
.page-down-img1
{
  background-image: url("../img/Sardine_img/IMG_9576.png");
  width:220px;
  height:320px;
  background-size: cover;

}
.page-down-img2
{
  background-image: url("../img/Potterie_img/front-img2.png") ;
  width:220px;
  height:320px;
  background-size: cover;
}
.page-down-img3
{
  background-image: url("../img/Sardine_img/sardine1.png") ;
  width:220px;
  height:320px;
  background-size: cover;
}

.container-page-down-img div
{
    margin-left: 30px;
}
.page-down-down
{
  text-align: center;
  border:1px solid gray;
  width:220px;
  font-size: 12px;
}

.line
{
  margin:0;
  margin-bottom: 20px;
  width:145px;
  height:2px;
  background-color:#3B8499;
}
.line-2{
    margin: 0;
    width: 40px;
    height: 2px;
    background-color: #3B8499;
}

.container-hills
{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
  
}
.container-hills-video
{
  background-image: url("../img/Sardine_img/SardineVideo.png") !important;
  width:140%;
  height:320px;
  background-size: cover;
}

.container-hills-des-text
{
  margin-top: 50px;
}

.container-hills-des
{
  margin-left: 65px;
}

.container-page .desc-text
{
  text-align: center;
  margin-top: 40px;
  width: 100%;
  text-align: left;
}

.container-page .big-text
{
  font-family: Claytonia;
  color:#2D7C92;
  text-align: center;
  font-size: 75px;
}
.container-page .small-text
{
  font-family: "Reem Kufi";
  color:#2D7C92;
  text-align: center;
  font-size: 35px;
}

.container-page-down-des
{
  padding: 10px;
}
.container-page-down-des pre
{
  margin-top: 15px;

}
.container-page-down--title
{
  color:#2D7C92;
  font-size: 24px;
}
.container-page-down-img , .container-page-down
{
  display: flex;
  width: 80%;
  margin: auto;
}

.container-hills2
{
  display: flex;
  width: 80%;
  margin: auto;
}

.container-hills2-title
{
  color:#029CC7;
  font-size: 40px;
}
.circle
{
  width: 23px;
  height: 30px;
  /* border-radius: 50%; */
  /* background-color: #029CC7; */
  background-image: url(../img/Potterie_img/Location.png);
  background-repeat: no-repeat;
}
.container-hills2-spot
{
  display: flex;
   
}
.container-hills2-spot-groupe
{
  margin-left: 12px;
}
.straight_line
{
  display: flex;
}

.groupe_all
{
  background-image: url("../img/Potterie_img/Groupe_all.svg") !important;
  background-size: cover;
  width:100%;
  height:420px;
  padding-left: 15px;
  padding-right: 15px;
}

/* .container-hills2-pic1 {
  background-image: url(../img/Sardine_img/sardine11.png) !important;
  height: 420px;
  background-size: cover;
  margin-right: 129px;
  width: 361%;
} */
.container-hills2-pic1{
  width: 60%;
}
.bg-img{
  width: 150%;
}
.container-hills2-pic2 {
  background-image: url("../img/Sardine_img/sardineBQ-removebg-preview.png") !important;
  width: 990px;
  height: 470px;
  background-size: cover;
  margin-left: -340px;
  margin-top: -80px;
}
.container-hills2-des{
  width: 50%;
}

.bg-design2-blue
{
  background-image: url(../img/Potterie_img/bg-design2-blue.svg) !important;
  background-size: cover;
  background-position: 50%;
  color: #fff;
  width: 100%;
  height: 400px;
}


.bg-design3
{
    background-image: url("../img/Potterie_img/head-img.svg") !important;
    background-size: cover;  
    margin-top: -220px;
    width:130px;
    height:100px;
    
}
.section{
  margin-top: 30px;
  width: 80%;
  display: flex;
  margin: auto;
}
 .section .Galery-img .image{
  width: 223px;
  height: 400px;
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
 }
 
 .section .Galery-img{
  display: flex;
  width: 100%;
  justify-content: space-between;
 }
.section .Galery-img .image:hover{
  transform: scale(1.2);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}
.Next-destination
{
  background-image: url("../img/Potterie_img/next-destination.png") !important;
  background-size: cover;
 
  width: 100%;
  height: 830px;
  text-align: center;
}

.Next-destination h4
{
  color:#2D7C92;

}
.Next-destination h1
{
  color: #674635;
    font-family: 'Claytonia Regular';
    font-size: 85px;

}
.Next-destination button
{
  color: white;
  border: none;
  background-color: #29819A;
  width: 120px;
  height: 40px;

}


