/* variable */
/*generale*/

@font-face {
  font-family: "Claytonia";
  src: url("../../Asstes/Fonts/Claytonia/Claytonia Regular.ttf");
  src: url("../../Asstes/Fonts/Claytonia/Claytonia italic.ttf");
  src: url("../../Asstes/Fonts/Claytonia/Claytonia Regular.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Claytonia Regular";
  src: url("../../Asstes/Fonts/Claytonia/Claytonia Regular.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src:url("../../Asstes/Fonts/Montserrat/Montserrat-Regular.ttf");
  src:url("../../Asstes/Fonts/Montserrat/Montserrat-Bold.ttf");
  src:url("../../Asstes/Fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Reem Kufi";
  src:url("../../Asstes/Fonts/ReemKufi-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*header*/
header .chateau-mere img {
  width: 100%;
  margin-top: -90px;
}

/*header*/
body {
  box-sizing: border-box; }

/*header*/
header .chateau-mere img {
  width: 100%;
  margin-top: -90px; }
header .header {
  width: 80%;
  height: 30px;
  position: absolute;
  top: -3px;
  left: 128px;
  position: fixed;
  z-index: 2; }
  header .header .div_logo .logo {
    float: right;
    margin-top: 10px;
    display: none; }
  header .header h1 {
    font-family: 'Claytonia';
    font-size: 40px;
    float: left;
    color: #2D7C92; }
  header .header nav {
    float: right;
    margin: 15px; }
    header .header nav a {
      padding: 5px;
      font-family: 'Reem Kufi';
      color: black;
      text-decoration: none; }
    header .header nav .active {
      padding: 5px;
      font-family: 'Reem Kufi';
      color: #2D7C92;
      text-decoration: none; }
header .menu {
  float: right;
  line-height: 100px;
  margin-top: -22px;
  z-index: 2;
  color: black; }
header .menu a {
  color: black;
  font-family: "Reem Kufi";
  text-decoration: none;
  padding: 0 10px; }
header .show-menu-btn, header .hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none; }
header .show-menu-btn {
  float: right; }
header .show-menu-btn i {
  line-height: 100px; }
header .menu a:hover,
header .show-menu-btn:hover,
header .hide-menu-btn:hover {
  color: #3498db; }
header #chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111; }

header .header {
  width: 80%;
  height: 30px;
  /* position: absolute; */
  position: absolute;
  /* margin-top: 95px; */
  /* z-index: 1; */
  top: -3px;
  left: 128px;
}

header .header h1 {
  font-family: 'Claytonia';
  font-size: 40px;
  float: left;
  color: #2D7C92;
}

header .header nav {
  float: right;
  margin: 15px;
}

header .header nav a {
  padding: 5px;
  font-family: 'Reem Kufi';
  color: black;
  text-decoration: none;
}

.bg-image {
  background-image: url("../img/bg-header.png");
  background-size: cover;
  width: 100%;
  height: 591px;
  margin-top: -10px;
}

.bg-image .image {
  width: 100%;
  margin-top: 379px;
}

.bg-image .image1 {
  width: 100%;
  margin-top: 10px;
}

.bg-image .img-header {
  width: 20%;
  margin: auto;
}

.bg-image .img-header .image2 {
  position: absolute;
  top: 327px;
}

main .Welcom-safi {
  width: 100%;
  text-align: center;
  padding-top: 10px; }
  main .Welcom-safi h1 {
    color: #29819A;
    font-family: "Reem Kufi"; }
  main .Welcom-safi .title h1 {
    padding: 20px;
    /* font-size: calc(100px * 2); */
    font-family: "Claytonia Regular";
    color: #2D7C92;
    font-size: 102px; }
  main .Welcom-safi p {
    justify-content: center;
    width: 37%;
    margin: auto;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    padding-top: 10px;
    font-size: 17px;
    line-height: 1.3; }
main .Galery-Safi {
  margin-top: 30px;
  width: 80%;
  display: flex;
  margin: auto; }
  main .Galery-Safi iframe {
    width: 100%;
    height: 332px; }
  main .Galery-Safi .Galery-inf {
    width: 40%; }
    main .Galery-Safi .Galery-inf .border {
      width: 50px;
      color: #29819A;
      background-color: #29819A;
      border: 1px solid;
      margin: 20px 0 20px 0; }
    main .Galery-Safi .Galery-inf p {
      width: 90%; }
    main .Galery-Safi .Galery-inf h2 {
      color: #29819A;
      font-family: "Reem Kufi"; }
  main .Galery-Safi .section {
    margin-top: 30px;
    width: 80%;
    display: flex;
    margin: auto;
    margin-left: 50px; }
    main .Galery-Safi .section .Galery-img {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      main .Galery-Safi .section .Galery-img .image {
        width: 90%;
        height: 400px;
        transition: 1s cubic-bezier(0.5, 0, 0, 1); }
      main .Galery-Safi .section .Galery-img .image:hover {
        transform: scale(1.2);
        transition: 1s cubic-bezier(0.5, 0, 0, 1); }
main section .Safi-video {
  width: 80%;
  margin: 125px auto;
  display: flex; }
  main section .Safi-video .bg-image {
    width: 591px;
    height: 437px;
    background-image: url("../img/Surf_img/swiming.png");
    background-position: center;
    background-size: cover; }
    main section .Safi-video .bg-image .icon-player {
      width: 13%;
      /* margin-top: 121px; */
      /* text-align: center; */
      margin: 197px auto;
      display: block; }
  main section .Safi-video .text {
    width: 42%;
    margin: -35px auto; }
    main section .Safi-video .text h3 {
      font-family: "Claytonia Regular";
      font-size: 70px;
      color: #2D7C92; }
    main section .Safi-video .text .btn {
      float: right;
      margin-top: 88px; }
      main section .Safi-video .text .btn input {
        width: 46%;
        background-color: #29819A;
        border: none;
        padding: 5px 10px;
        font-family: "Reem Kufi";
        color: #FFFFFF;
        margin: 2px auto; }
main .gnrl {
  background-image: url(../img/Surf_img/lalfatna.png);
  height: 1024px;
  background-position-x: -85px; }
  main .gnrl .bg-design1 {
    background-image: url(../img/Potterie_img/Potterie_img_whitetopbg.svg) !important;
    background-size: cover;
    background-position: 50%;
    color: #fff;
    width: 100%;
    height: 200px;
    font-size: 20px;
    margin-top: -78px; }
  main .gnrl .container-hills2 {
    display: flex;
    width: 80%;
    margin: auto; }
  main .gnrl .container-hills2-des {
    float: right;
    /* margin-left: 22px; */
    margin: 135px 0px; }
  main .gnrl .container-hills2-title {
    color: #029CC7;
    font-size: 40px; }
  main .gnrl .circle {
    width: 23px;
    height: 30px;
    background-image: url(../img/Potterie_img/Location.png);
    background-repeat: no-repeat; }
  main .gnrl .circle:hover {
    cursor: pointer; }
  main .gnrl iframe {
    /* margin-top: -11px; */
    height: -webkit-fill-available;
    /* width: 115%; */ }
  main .gnrl .Maps {
    /* margin-right: 26px; */
    /* margin-right: 26px; */
    /* margin-left: -127px; */
    position: absolute;
    /* margin-top: -257px; */
    width: 23%;
    height: 257px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    /* margin: -257px 0px 0px; */
    justify-content: center;
    top: 67%;
    display: none; }
  main .gnrl .container-hills2-spot {
    display: flex; }
  main .gnrl .container-hills2-spot-groupe {
    margin-left: 12px; }
  main .gnrl .straight_line {
    display: flex; }
  main .gnrl .container-hills2-pic img {
    /* background-image: url("../img/Potterie_img/hills-img1.png") !important; */
    /* width: 572px;
    height: 400px;
    background-size: cover; */
    width: 100%; }
main .gnrl-2 {
  background-image: url(../img/Surf_img/raslafa.png);
  height: 1024px;
  background-position-x: -259px; }
  main .gnrl-2 .bg-design1 {
    background-image: url(../img/Potterie_img/Potterie_img_whitetopbg.svg) !important;
    background-size: cover;
    background-position: 50%;
    color: #fff;
    width: 100%;
    height: 200px;
    font-size: 20px;
    margin-top: 73px;
    position: relative;
    top: -28px; }
  main .gnrl-2 .container-hills2 {
    display: flex;
    width: 80%;
    margin: auto; }
  main .gnrl-2 .container-hills2-des {
    float: left;
    /* margin-left: 22px; */
    margin: 135px 38px; }
  main .gnrl-2 .container-hills2-title {
    color: #029CC7;
    font-size: 40px; }
  main .gnrl-2 .circle {
    width: 23px;
    height: 30px;
    /* border-radius: 50%; */
    /* background-color: #029CC7; */
    background-image: url(../img/Potterie_img/Location.png);
    background-repeat: no-repeat; }
  main .gnrl-2 .circle:hover {
    cursor: pointer; }
  main .gnrl-2 iframe {
    /* margin-top: -11px; */
    height: -webkit-fill-available;
    /* width: 115%; */ }
  main .gnrl-2 .Maps {
    /* margin-right: 26px; */
    /* margin-right: 26px; */
    /* margin-left: -127px; */
    position: absolute;
    /* margin-top: -257px; */
    width: 23%;
    height: 257px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    /* margin: -257px 0px 0px; */
    justify-content: center;
    top: 67%;
    display: none; }
  main .gnrl-2 .container-hills2-spot {
    display: flex; }
  main .gnrl-2 .container-hills2-spot-groupe {
    margin-left: 12px; }
  main .gnrl-2 .straight_line {
    display: flex; }
  main .gnrl-2 .container-hills2-pic img {
    /* background-image: url("../img/Potterie_img/hills-img1.png") !important; */
    /* width: 572px;
    height: 400px;
    background-size: cover; */
    width: 100%; }
main .gnrl-3 {
  background-image: url(../img/Surf_img/capbedouza.png);
  height: 1024px;
  background-position-x: -38px;
  background-size: cover; }
  main .gnrl-3 .bg-design1 {
    background-image: url(../img/Potterie_img/Potterie_img_whitetopbg.svg) !important;
    background-size: cover;
    background-position: 50%;
    color: #fff;
    width: 100%;
    height: 200px;
    font-size: 20px;
    margin-top: -79px;
    position: relative;
    top: -29px; }
  main .gnrl-3 .container-hills2 {
    display: flex;
    width: 80%;
    margin: auto; }
  main .gnrl-3 .container-hills2-des {
    float: right;
    /* margin-left: 22px; */
    margin: 135px 0px; }
  main .gnrl-3 .container-hills2-title {
    color: #029CC7;
    font-size: 40px; }
  main .gnrl-3 .circle {
    width: 23px;
    height: 30px;
    /* border-radius: 50%; */
    /* background-color: #029CC7; */
    background-image: url(../img/Potterie_img/Location.png);
    background-repeat: no-repeat; }
  main .gnrl-3 .circle:hover {
    cursor: pointer; }
  main .gnrl-3 iframe {
    height: -webkit-fill-available; }
  main .gnrl-3 .Maps {
    position: absolute;
    width: 23%;
    height: 257px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    justify-content: center;
    top: 97%;
    display: none; }
  main .gnrl-3 .container-hills2-spot {
    display: flex; }
  main .gnrl-3 .container-hills2-spot-groupe {
    margin-left: 12px; }
  main .gnrl-3 .straight_line {
    display: flex; }
  main .gnrl-3 .container-hills2-pic img {
    /* background-image: url("../img/Potterie_img/hills-img1.png") !important; */
    /* width: 572px;
    height: 400px;
    background-size: cover; */
    width: 100%; }
main .reveal {
  opacity: 0;
  transform: translateY(-30px); }
main .reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1); }
main .gnrl-4 {
  background-image: url(../img/Surf_img/walidiya.png);
  height: 1024px;
  background-position-x: -273px;
  background-size: cover; }
  main .gnrl-4 .bg-design1 {
    background-image: url(../img/Potterie_img/Potterie_img_whitetopbg.svg) !important;
    background-size: cover;
    background-position: 50%;
    color: #fff;
    width: 100%;
    height: 200px;
    font-size: 20px;
    margin-top: -79px;
    position: relative;
    top: -32px; }
  main .gnrl-4 .container-hills2 {
    display: flex;
    width: 80%;
    margin: auto; }
  main .gnrl-4 .container-hills2-des {
    float: left !important;
    /* margin-left: 22px; */
    margin: 135px 38px; }
  main .gnrl-4 .container-hills2-title {
    color: #029CC7;
    font-size: 40px; }
  main .gnrl-4 .circle {
    width: 23px;
    height: 30px;
    /* border-radius: 50%; */
    /* background-color: #029CC7; */
    background-image: url(../img/Potterie_img/Location.png);
    background-repeat: no-repeat; }
  main .gnrl-4 .circle:hover {
    cursor: pointer; }
  main .gnrl-4 iframe {
    height: -webkit-fill-available; }
  main .gnrl-4 .Maps {
    position: absolute;
    width: 23%;
    height: 257px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    justify-content: center;
    top: 67%;
    display: none; }
  main .gnrl-4 .container-hills2-spot {
    display: flex; }
  main .gnrl-4 .container-hills2-spot-groupe {
    margin-left: 12px; }
  main .gnrl-4 .straight_line {
    display: flex; }
  main .gnrl-4 .container-hills2-pic img {
    /* background-image: url("../img/Potterie_img/hills-img1.png") !important; */
    /* width: 572px;
    height: 400px;
    background-size: cover; */
    width: 100%; }
main .gnrl-5 {
  background-image: url(../img/Surf_img/essearia.png);
  height: 1024px;
  background-position-x: -85px;
  background-size: cover; }
  main .gnrl-5 .bg-design1 {
    background-image: url(../img/Potterie_img/Potterie_img_whitetopbg.svg) !important;
    background-size: cover;
    background-position: 50%;
    color: #fff;
    width: 100%;
    height: 200px;
    font-size: 20px;
    margin-top: -80px;
    font-size: 20px;
    margin-top: -90px;
    position: absolute;
    top: 9px; }
  main .gnrl-5 .container-hills2 {
    display: flex;
    width: 80%;
    margin: auto; }
  main .gnrl-5 .container-hills2-des {
    float: right;
    /* margin-left: 22px; */
    margin: 246px 0px; }
  main .gnrl-5 .container-hills2-title {
    color: #029CC7;
    font-size: 40px; }
  main .gnrl-5 .circle {
    width: 23px;
    height: 30px;
    /* border-radius: 50%; */
    /* background-color: #029CC7; */
    background-image: url(../img/Potterie_img/Location.png);
    background-repeat: no-repeat; }
  main .gnrl-5 .circle:hover {
    cursor: pointer; }
  main .gnrl-5 iframe {
    height: -webkit-fill-available; }
  main .gnrl-5 .Maps {
    position: absolute;
    width: 23%;
    height: 257px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    justify-content: center;
    top: 58.5%;
    display: none; }
  main .gnrl-5 .container-hills2-spot {
    display: flex; }
  main .gnrl-5 .container-hills2-spot-groupe {
    margin-left: 12px; }
  main .gnrl-5 .straight_line {
    display: flex; }
  main .gnrl-5 .container-hills2-pic img {
    /* background-image: url("../img/Potterie_img/hills-img1.png") !important; */
    /* width: 572px;
    height: 400px;
    background-size: cover; */
    width: 100%; }
main pre {
  margin: 58px 0px; }
main .groupe_all {
  background-image: url(../img/Potterie_img/Groupe_all.svg) !important;
  background-size: cover;
  width: 100%;
  height: 420px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 647px 0px; }
main .image {
  width: 100%;
  margin-top: -25px; }
main .image1 {
  width: 100%;
  margin-top: -100px; }
main .gnrl {
  background-image: url(../img/Surf_img/lalfatna.png);
  height: 1024px;
  background-position-x: -85px; }
  main .gnrl .bg-design1 {
    background-image: url(../img/Potterie_img/Potterie_img_whitetopbg.svg) !important;
    background-size: cover;
    background-position: 50%;
    color: #fff;
    width: 100%;
    height: 200px;
    font-size: 20px;
    margin-top: -90px; }
  main .gnrl .container-hills2 {
    display: flex;
    width: 80%;
    margin: auto; }
  main .gnrl .container-hills2-des {
    float: right;
    /* margin-left: 22px; */
    margin: 135px 0px; }
  main .gnrl .container-hills2-title {
    color: #029CC7;
    font-size: 40px; }
  main .gnrl .circle {
    width: 23px;
    height: 30px;
    /* border-radius: 50%; */
    /* background-color: #029CC7; */
    background-image: url(../img/Potterie_img/Location.png);
    background-repeat: no-repeat; }
  main .gnrl .circle:hover {
    cursor: pointer; }
  main .gnrl .container-hills2-spot {
    display: flex; }
  main .gnrl .container-hills2-spot-groupe {
    margin-left: 12px; }
  main .gnrl .straight_line {
    display: flex; }
  main .gnrl .container-hills2-pic img {
    /* background-image: url("../img/Potterie_img/hills-img1.png") !important; */
    /* width: 572px;
    height: 400px;
    background-size: cover; */
    width: 100%; }
main .space {
  margin-top: 75px; }
main .bg-design2-blue {
  background-image: url(../img/Potterie_img/bg-design2-blue.svg) !important;
  background-size: cover;
  background-position: 50%;
  color: #fff;
  width: 100%;
  height: 400px;
  margin-top: -125px; }
main .Next-destination {
  background-image: url(../img/Potterie_img/next-destination.png) !important;
  background-size: cover;
  width: 100%;
  height: 600px;
  text-align: center; }
main .Next-destination h4 {
  color: #2D7C92; }
main .line {
  margin: 0;
  width: 40px;
  height: 2px;
  background-color: #3B8499; }
main .Next-destination h1 {
  color: #674635;
  font-family: 'Claytonia Regular';
  font-size: 85px;
  margin: 60px 0px; }
main .Next-destination button {
  color: white;
  border: none;
  background-color: #29819A;
  width: 120px;
  height: 40px; }
main .discover {
  color: white; }
main .discover:hover {
  color: white; }

header .chateau-mere img {
  width: 100%;
  margin-top: -90px; }
header .header {
  width: 80%;
  height: 30px;
  position: absolute;
  top: -3px;
  left: 128px; }
  header .header .div_logo .logo {
    float: right;
    margin-top: 10px;
    display: none; }
  header .header h1 {
    font-family: 'Claytonia';
    font-size: 40px;
    float: left;
    color: #2D7C92;
    margin-top: 3px; }
  header .header nav {
    float: right;
    margin: 15px; }
    header .header nav a {
      padding: 5px;
      font-family: 'Reem Kufi';
      color: black;
      text-decoration: none; }
    header .header nav .active {
      padding: 5px;
      font-family: 'Reem Kufi';
      color: #2D7C92;
      text-decoration: none; }
      

.bg-image {
  background-image: url("../img/Surf_img/head.png");
  background-size: cover;
  width: 100%;
  height: 591px;
  margin-top: -18px; }
  .bg-image .image {
    width: 100%;
    margin-top: 379px; }
  .bg-image .image1 {
    width: 100%;
    margin-top: 17px; }
  .bg-image .img-header {
    width: 20%;
    margin: auto; }
    .bg-image .img-header .image2 {
      position: absolute;
      top: 327px; }

/*responsive design */
@media screen and (max-width: 1030px) {
  header .chateau-mere img {
    width: 100%;
    margin-top: -90px; }
  header .header {
    width: 80%;
    height: 30px;
    position: absolute;
    top: -3px;
    left: 128px; }
    header .header h1 {
      font-family: 'Claytonia';
      font-size: 27px;
      float: left;
      color: #2D7C92; }
    header .header .div_logo .logo {
      float: right;
      margin-top: 10px;
      display: block; }
    header .header nav {
      display: none;
      background-color: white;
      width: 33%;
      position: absolute;
      right: -66px;
      top: 13px;
      text-align: center; }
      header .header nav a {
        padding: 5px;
        font-family: 'Reem Kufi';
        color: black;
        text-decoration: none; }

  .bg-image {
    background-image: url("../img/Surf_img/head.png");
    background-size: cover;
    width: 100%;
    height: 591px;
    margin-top: -10px; }
    .bg-image .image {
      width: 100%;
      margin-top: 379px; }
    .bg-image .image1 {
      width: 100%;
      margin-top: 10px; }
    .bg-image .img-header {
      width: 20%;
      margin: auto; }
      .bg-image .img-header .image2 {
        position: absolute;
        top: 327px;
        display: none; } }
@media screen and (max-width: 750px) {
  header .chateau-mere img {
    width: 100%;
    margin-top: -90px; }
  header .header {
    width: 74%;
    height: 45px;
    position: absolute;
    top: -3px;
    left: 52px; }
    header .header h1 {
      font-family: 'Claytonia';
      font-size: 17px;
      float: left;
      color: #2D7C92; }
    header .header .div_logo .logo {
      float: right;
      margin-top: 5px;
      display: block;
      width: 15px; }
    header .header nav {
      float: right;
      margin: 15px; }
      header .header nav a {
        padding: 5px;
        font-family: 'Reem Kufi';
        color: black;
        text-decoration: none; }

  .bg-image {
    background-image: url("../img/bg-header.png");
    background-size: cover;
    width: 100%;
    height: 591px;
    margin-top: -10px; }
    .bg-image .image {
      width: 100%;
      margin-top: 461px; }
    .bg-image .image1 {
      width: 100%;
      margin-top: 10px; }
    .bg-image .img-header {
      width: 20%;
      margin: auto; }
      .bg-image .img-header .image2 {
        position: absolute;
        top: 327px;
        display: none; } }
footer {
  margin-top: 30px; }
  footer .footer {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between; }
  footer .footer-social {
    background-color: #29819A;
    width: 30%;
    padding: 20px;
    text-align: center;
    height: 100px;
    background-color: #29819A;
    padding: 35px; }
    footer .footer-social img {
      width: 40px; }
    footer .footer-social .fab {
      width: 40px;
      height: 40px; }
  footer .footer-menu {
    margin: 30px 0; }
    footer .footer-menu a {
      padding: 10px 10px !important;
      font-family: "Reem Kufi";
      color: black; }
    footer .footer-menu .logo {
      font-size: 30px;
      color: #29819A;
      font-family: "Claytonia Regular"; }

@media screen and (max-width: 1030px) {
  footer {
    margin-top: 30px; }
    footer .footer {
      display: block;
      margin: auto;
      width: 80%;
      justify-content: space-between; }
    footer .footer-social {
      background-color: #29819A;
      width: 100%;
      padding: 20px;
      text-align: center;
      height: 100px;
      background-color: #29819A;
      padding: 35px; }
      footer .footer-social img {
        width: 40px; }
      footer .footer-social .fab {
        width: 40px;
        height: 40px; }
    footer .footer-menu {
      margin: 30px 0;
      text-align: center; }
      footer .footer-menu a {
        padding: 10px 10px !important;
        font-family: "Reem Kufi"; }
      footer .footer-menu .logo {
        font-size: 30px;
        color: #29819A;
        font-family: "Claytonia Regular"; } }



        /*responsive design */
@media screen and (max-width: 1030px) {
  header .chateau-mere img {
    width: 100%;
    margin-top: -90px; }
  header .header {
    width: 80%;
    height: 30px;
    position: absolute;
    top: -3px;
    left: 128px;
    position: fixed; }
    header .header h1 {
      font-family: 'Claytonia';
      font-size: 27px;
      float: left;
      color: #2D7C92; }
    header .header .div_logo .logo {
      float: right;
      margin-top: 10px;
      display: none; }
    header .header .div_logo #btn_close {
      display: none; }
    header .header nav {
      width: 35%;
      /* position: absolute; */
      right: -66px;
      /* top: -2px; */
      text-align: center;
      margin: 6px 0px; }
      header .header nav a {
        padding: 5px;
        font-family: 'Reem Kufi';
        color: black;
        text-decoration: none; }
  header .show-menu-btn {
    display: block;
    margin-top: -41px;
    font-size: 19px; }
  header .hide-menu-btn {
    display: block; }
  header .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s; }
  header .menu a {
    display: block;
    padding: 20px; }
  header .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px; }
  header #chk:checked ~ .menu {
    right: 0; }

  .bg-image {
    background-image: url("../img/bg-header.png");
    background-size: cover;
    width: 100%;
    height: 591px;
    margin-top: -10px; }
    .bg-image .image {
      width: 100%;
      margin-top: 504px; }
    .bg-image .image1 {
      width: 100%;
      margin-top: 10px; }
    .bg-image .img-header {
      width: 20%;
      margin: auto; }
      .bg-image .img-header .image2 {
        position: absolute;
        top: 327px;
        display: none; } }
@media screen and (max-width: 750px) {
  header .chateau-mere img {
    width: 100%;
    margin-top: -90px; }
  header .header {
    width: 74%;
    height: 45px;
    position: absolute;
    top: -3px;
    left: 52px;
    position: fixed;
    z-index: 2; }
    header .header h1 {
      font-family: 'Claytonia';
      font-size: 17px;
      float: left;
      color: #2D7C92; }
    header .header .div_logo .logo {
      float: right;
      margin-top: 5px;
      display: block;
      width: 12px; }
    header .header .div_logo #btn_close {
      display: none; }
    header .header nav {
      background-color: white;
      width: 33%;
      position: absolute;
      right: -66px;
      top: 13px;
      text-align: center;
      float: right;
      margin: 3px 30px;
      display: none; }
      header .header nav a {
        padding: 5px;
        font-family: 'Reem Kufi';
        color: black;
        text-decoration: none;
        display: block; }

  .bg-image {
    background-image: url("../img/bg-header.png");
    background-size: cover;
    width: 100%;
    height: 591px;
    margin-top: -10px; }
    .bg-image .image {
      width: 100%;
      margin-top: 485px; }
    .bg-image .image1 {
      width: 100%;
      margin-top: 10px; }
    .bg-image .img-header {
      width: 20%;
      margin: auto; }
      .bg-image .img-header .image2 {
        position: absolute;
        top: 327px;
        display: none; } }

/*# sourceMappingURL=surf.css.map */
